body {
    margin:0;
    background:#0f0f0f;
    font-family:Segoe UI;
    color:white;
}

.glass {
    width:350px;
    margin:100px auto;
    padding:30px;
    background:rgba(255,255,255,0.05);
    border-radius:20px;
}

input,button {
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:none;
}

input {
    background:#1a1a1a;
    color:white;
}

button {
    background:red;
    color:white;
    cursor:pointer;
}

button:hover {
    background:darkred;
}
